<div
  class="save d-none w-auto position-relative top-0 d-flex align-items-center roboto"
>
  <button
    onclick="submitFormUpdate()"
    class="btn btn-warning align-items-center d-flex justify-content-center border border-0 me-2"
  >
    <span class="material-symbols-outlined me-1">save</span> Simpan
  </button>
  <button
    onclick="undo()"
    class="btn btn-secondary align-items-center d-flex justify-content-center border border-0"
  >
    <span class="material-symbols-outlined me-1">undo</span> Undo
  </button>
</div>
