<h2
  style="font-family: Roboto Mono, monospace; font-weight: 800"
  class="animate__fadeInDown mt-5"
  data-aos="slide-down"
>
  ADMIN E-RAPOR
</h2>
<div class="text-center">
  <img
    src="../src/logo madin.png"
    class="rounded"
    alt="..."
    width="100"
    height="100"
    data-aos="zoom-in"
    data-aos-delay="200"
  />
</div>
<h2 style="font-family: Roboto Mono, monospace" data-aos="slide-down">
  Madrasah Diniyah
</h2>
<h2 style="font-family: Roboto Mono, monospace" data-aos="slide-down">
  PP. An-Nur 2 Al-Murtadlo
</h2>
