<div
  style="width: calc(100vw - 107px)"
  class="d-flex justify-content-start p-0"
>
  <ul class="d-flex justify-content-start w-100 text-light mb-1 mt-1 p-0">
    <li>
      <div
        id="pdf"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> picture_as_pdf </span>

        <a
          href="http://localhost:3000/admin/setting"
          class="setting-nav-bar text-light roboto"
        >
          pdf rapor</a
        >
      </div>
    </li>
    <li>
      <div
        id="tahunajaran"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> edit </span>
        <a
          href="http://localhost:3000/admin/setting"
          class="setting-nav-bar text-light roboto"
          >tahun ajaran</a
        >
      </div>
    </li>
    <li>
      <div
        id="cawu"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> edit </span>
        <a
          href="http://localhost:3000/admin/setting/quarteracademicyear"
          class="setting-nav-bar text-light roboto"
          >cawu</a
        >
      </div>
    </li>
    <li>
      <div
        id="tingkat"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> edit </span>
        <a
          href="http://localhost:3000/admin/setting/gradeclass"
          class="setting-nav-bar text-light roboto"
          >tingkat</a
        >
      </div>
    </li>
    <li>
      <div
        id="kelas"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> edit </span>
        <a
          href="http://localhost:3000/admin/setting/classname"
          class="setting-nav-bar text-light roboto"
          >kelas</a
        >
      </div>
    </li>
    <li>
      <div
        id="mapel"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> edit </span>
        <a
          href="http://localhost:3000/admin/setting/subject"
          class="setting-nav-bar text-light roboto"
          >mapel</a
        >
      </div>
    </li>
    <li>
      <div
        id="username"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <svg
          height="24"
          width="24"
          fill="white"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          id="fi_11123886"
          class="me-1"
        >
          <g id="a"></g>
          <g id="b"></g>
          <g id="c"></g>
          <g id="d"></g>
          <g id="e"></g>
          <g id="f"></g>
          <g id="g"></g>
          <g id="h">
            <g>
              <circle cx="11" cy="8" r="4.75"></circle>
              <path
                d="m21 12.81-1.09-1.09c-.76-.76-2.01-.77-2.78 0l-4.02 4.02c-.28.28-.47.64-.54 1.02l-.58 3.09c-.05.24.03.5.21.67.14.14.33.22.53.22.05 0 .09 0 .14-.01l3.09-.58c.39-.07.74-.26 1.02-.54l4.02-4.02c.77-.77.77-2.01 0-2.78z"
                fill="white"
              ></path>
              <path
                d="m11.09 16.49c.13-.69.46-1.31.96-1.81l.43-.43h-4.47c-2.58 0-4.82 1.75-5.44 4.25l-.29 1.18c-.06.22 0 .46.14.64s.36.29.59.29h7.55c-.09-.33-.12-.68-.05-1.02l.59-3.1z"
              ></path>
            </g>
          </g>
          <g id="i"></g>
          <g id="j"></g>
          <g id="k"></g>
          <g id="l"></g>
          <g id="m"></g>
          <g id="n"></g>
          <g id="o"></g>
          <g id="p"></g>
          <g id="q"></g>
          <g id="r"></g>
          <g id="s"></g>
          <g id="t"></g>
          <g id="u"></g>
        </svg>
        <a
          href="http://localhost:3000/admin/setting/username"
          class="setting-nav-bar text-light roboto"
          >update username</a
        >
      </div>
    </li>
    <li>
      <div
        id="password"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> passkey </span>
        <a
          href="http://localhost:3000/admin/setting/password"
          class="setting-nav-bar text-light roboto"
          >update password</a
        >
      </div>
    </li>
    <li>
      <div
        id="cadangkandata"
        onclick="hadleClick()"
        class="h-100 p-2 d-flex align-items-center"
      >
        <span class="material-symbols-outlined me-1"> backup </span>
        <a href="" class="setting-nav-bar text-light roboto">cadangkan data</a>
      </div>
    </li>
  </ul>
</div>
<script>
  console.log("<%= pagePath %>");
  var pageActive = "<%= pagePath %>".slice(13).toLowerCase().split(" ");
  pageActive = pageActive.join("");
  const navBar = document.getElementById(pageActive);
  navBar.classList.add("nav-bar-active");
</script>
