<div
  class="nav-bar border border-top-0 p-3 d-flex baground-basic"
  style="
    position: fixed;
    width: fit-content;
    height: calc(100vh - 125.59px);
    top: 124.59px;
    z-index: 2;
    overflow: auto;
  "
>
  <ul class="list-group list-group-flush">
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/dashboard"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> dashboard </span
        ><span class="nav-bar-label">Dashboard</span></a
      >
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/biodata/all"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> person_book </span
        ><span class="nav-bar-label">Biodata</span></a
      >
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/classmember/all"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> groups </span
        ><span class="nav-bar-label">Data Kelas</span></a
      >
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/testscores"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> money </span
        ><span class="nav-bar-label">Nilai Ujian</span></a
      >
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/reportcard"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> lab_profile </span
        ><span class="nav-bar-label">Rapor</span></a
      >
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin/setting"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> settings </span
        ><span class="nav-bar-label">Pengaturan</span></a
      >
    </li>
    <li class="list list-group-item mt-auto">
      <button
        id="unlock"
        onclick="unlockCell()"
        style="height: 50px"
        class="btn-lock w-100 border border-0 bg-transparent d-flex flex-row align-items-center justify-content-center"
      >
        <span class="material-symbols-outlined text-white">lock</span
        ><span class="nav-bar-label text-white">Cell Terkunci</span>
      </button>
    </li>
    <li class="list list-group-item">
      <a
        href="http://localhost:3000/admin"
        class="link-light link-underline link-underline-opacity-0 d-flex align-items-center"
        style="height: 50px"
        ><span class="material-symbols-outlined"> logout </span
        ><span class="nav-bar-label">Log Out</span></a
      >
    </li>
  </ul>
</div>
