
    <div class="main-container d-flex flex-column">
      <!-- header -->
      <%- include('../../component/header-admin-page.ejs') %>
      <!-- main-content -->
      <div class="main-content d-flex flex-row flex-grow-1">
        <!-- nav-bar -->
        <%- include('../../component/navbar-admin-page.html') %>
        <!-- data-container -->
        <div
          class="data-container ps-3 pe-3 flex-grow-1 d-flex flex-column"
          style="z-index: 1; position: relative; left: 90px"
        >
        <%- include('../../component/navbar-pengaturan.html') %>
          <!-- setting-box -->
          <div
            class="table-box border d-flex justify-content-center"
            style="
              width: calc(100vw - 107px);
              height: calc(100vh - 175px);
              overflow: auto;
            "
          >
            <div
              class="w-25 form-box d-flex flex-column justify-content-center align-items-center rounded bg-opacity-50"
            >
              <!-- form-container -->
              <p class="fs-2 text-light fw-bold roboto">Update Username</p>
              <div class="form-container w-100 p-3">
                <form action="">
                  <input
                    id="nisinput"
                    class="form-control w-100 p-3 mb-2 rounded-pill"
                    type="text"
                    placeholder="masukan username lama"
                    aria-label="default inpt example"
                  />
                  <input
                    class="form-control w-100 p-3 mb-5 rounded-pill"
                    type="text"
                    placeholder="masukkan username baru"
                    aria-label="default input example"
                  />
                  <input
                    class="form-control w-100 p-3 mb-2 rounded-pill"
                    type="text"
                    placeholder="konfirmasi password"
                    aria-label="default input example"
                  />
                  <button
                    type="button"
                    class="btn custom-background w-100 p-0 rounded-pill mt-4 animate__pulse"
                    style="height: 30px; font-family: Roboto Mono, monospace"
                  >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- end of settingbox -->
        </div>
        <!-- data of tabel -->
      </div>
      <!-- end of main-content -->
    </div>
    <!-- end of main-container -->
  </body>
</html>
