<!-- main container -->
<div
  class="container-fluid h-100 w-100 d-flex flex-column justify-content-center align-items-center pb-5"
>
  <%- include('../../component/header-admin-login.html') %>
  <!-- form Box -->
  <div
    class="form-box bg-white d-flex flex-column justify-content-center align-items-center border border-white rounded bg-opacity-10 mt-4"
    data-aos="zoom-out"
  >
    <!-- form-container -->
    <div class="form-container">
      <form action="">
        <input
          id="nisinput"
          class="form-control w-100 p-3 mb-2 rounded-pill"
          type="text"
          placeholder="username"
          aria-label="default inpt example"
        />
        <input
          class="form-control p-3 mb-0 rounded-pill"
          type="password"
          placeholder="password"
          aria-label="default input example"
        />
        <div class="check-boxcontainer">
          <input type="checkbox" name="showpassword" id="showpassword" />
          <p>lihat password</p>
        </div>

        <button
          type="button"
          class="btn custom-background w-100 p-0 rounded-pill mt-4 animate__pulse"
          style="height: 30px; font-family: Roboto Mono, monospace"
        >
          Masuk
        </button>
      </form>
    </div>
    <p class="text-black">
      lupa username atau password ?
      <span><a href="http://">reset username dan password.</a></span>
    </p>
  </div>
  <%- include('../../component/footer-admin-login.html') %>
</div>
